@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 
R (0)
G (110)
B (255 */

@layer base {

  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#283048,#859398);
    --background: 239 96.45% 98.44%;
    --foreground: 239 2.9% 0.88%;

    --muted: 239 2.9% 92.2%;
    --muted-foreground: 239 1.45% 42.2%;

    --popover: 239 66.8% 92.2%;
    --popover-foreground: 239 2.9% 1.1%;

    --card: 239 66.8% 92.2%;
    --card-foreground: 239 2.9% 1.1%;

    --border: 239 7.9% 89.88%;
    --input: 239 7.9% 89.88%;

    --primary: 239 29% 22%;
    --primary-foreground: 239 0.58% 92.2%;

    --secondary: 239 1.45% 96.1%;
    --secondary-foreground: 239 2.7399999999999998% 12.2%;

    --accent: 239 1.45% 96.1%;
    --accent-foreground: 239 2.7399999999999998% 12.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 239 29% 22%;

    --radius: 0.5rem;
}
  .dark {
    /* Name: custom color palette
      Author: Ilias Ism
      URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#ED4264,#FFEDBC);

    --background: -13 53.949999999999996% 4.8%;
    --foreground: -13 8.299999999999999% 98%;

    --muted: -13 41.5% 18%;
    --muted-foreground: -13 8.299999999999999% 56%;

    --popover: -13 48.400000000000006% 7.8%;
    --popover-foreground: -13 8.299999999999999% 98%;

    --card: -13 48.400000000000006% 7.8%;
    --card-foreground: -13 8.299999999999999% 98%;

    --border: -13 41.5% 18%;
    --input: -13 41.5% 18%;

    --primary: -13 83% 60%;
    --primary-foreground: -13 8.299999999999999% 6%;

    --secondary: -13 41.5% 18%;
    --secondary-foreground: -13 8.299999999999999% 98%;

    --accent: -13 41.5% 18%;
    --accent-foreground: -13 8.299999999999999% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: -13 8.299999999999999% 98%;

    --ring: -13 83% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dotPattern {
  background-image: radial-gradient(rgb(35, 40, 68) 1px, transparent 1px);
  background-size: 25px 25px;
}

.use-automation-zoom-in {
  animation: automation-zoom-in 0.5s;
}

@keyframes automation-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}